@model ProductModel

@{
    ViewData["Title"] = "Create Product";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
@if (!string.IsNullOrEmpty(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
    </div>
}
<form action="Create" method="post">
    <div class="mb-3">
        <label class="form-label fw-bold">*Title</label>
        <input type="text" class="form-control" asp-for="Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">*Price</label>
        <input type="number" class="form-control" asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label fw-bold">*Count</label>
        <input type="number" class="form-control" asp-for="Count" />
        <span asp-validation-for="Count" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Weight</label>
        <input type="number" class="form-control" asp-for="Weight" />
    </div>
    <div class="mb-3">
        <label class="form-label">Production</label>
        <input type="text" class="form-control" asp-for="Production" />
    </div>
    <div class="mb-3">
        <label class="form-label">Expiration</label>
        <input type="date" class="form-control" asp-for="Expiration" />
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Create new product</button>
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}