@model Shop.Web.Models.ShopModel

@{
    ViewData["Title"] = "Create Shop";
    var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
@if (!string.IsNullOrEmpty(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
    </div>
}
<form action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsOpened" class="control-label"></label>
        <div>
            <input asp-for="IsOpened" type="checkbox" />
            <span asp-validation-for="IsOpened" class="text-danger"></span>
        </div>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Create new shop</button>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
